body {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
    }
    
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

.container {
    margin-top: 20px;
}


.carousel-indicators .active {
    background-color: #fff;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-control {
    width: 10%;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1.5;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 5px;
}

.carousel-control.right span {
	padding: 0px;
}
.carousel-control .glyphicon-chevron-left{
  color: black;
  top: 45%;
}
 
.carousel-control .glyphicon-chevron-right{
  color: black;
} 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 2%;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 4%;
}

.carousel-control.left span,
.carousel-control.right span {
  opacity: 0.9;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}


.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 40px;
}

.header-text h2 span {
    padding: 10px;

}

.header-text h3 span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
	color:#222211;
	padding: 10px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: #222211;
    background-color: #fff;
    border-color: #fff;
}


footer { background-color: #f2f2f2; min-height:50px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial; }
.footerleft { margin-top:10px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#000; font-size:13px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial; }
.footerleft p i { width:20px; color:#000;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#000; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 

 /*image zoom in*/
 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.7s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 45px;
    right: 5px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.buy {
    width: 90px;
     right: 20px;
}
.blogShort  {
    border-bottom:1px solid #ddd;
    }
.add{background: #333;
 padding: 10%;
 height: 700px;
 float:left;
 border-radius:10px;
}


.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:5px;
    margin-bottom:10px;
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 .margin10{margin-bottom:10px; margin-right:10px;}
 footer { background-color: #f2f2f2; min-height:50px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial; }
.footerleft { margin-top:10px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#000; font-size:13px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial; }
.footerleft p i { width:20px; color:#000;}

.small{
    width: 300px;
}
.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#000; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.h-100 {
    height: 100%!important;
}
.card{
    margin: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

.h5, h5 {
    font-size: 1.25rem;
}